#container {
  left: 0;
  right: 0;
  margin: auto;
  padding: 40px;
  width: 60%;
  position: absolute;
  background-color: white;
}
#header {
  background-color: blueviolet;
}

input {
  border-radius: 0;
}

.btn-primary {
  margin: 5px;
}
