<!DOCTYPE html>

<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>

  <body>
    <div id="overlay">
      <div
        class="btn-group btn-group-lg"
        role="group"
        aria-label="Basic example"
      >
        <button
          type="button"
          class="btn btn-secondary"
          style="background-color: steelblue;"
          (click)="convetToPDF()"
        >
          Download
        </button>
        <button
          type="button"
          class="btn btn-secondary"
          style="background-color: indianred;"
          (click)="closeComponent()"
        >
          Close
        </button>
      </div>
      <div id="page-wrap" class="content">
        <div
          id="personal-info"
          (click)="openPersonalInfoPopup()"
          data-toggle="modal"
          data-target="#exampleModalCenterPersonalInfo"
        >
          <div id="contact-info" class="vcard">
            <!-- Microformats! -->

            <h1 class="font-weight-bold">{{ personalInfoObj.name }}</h1>
            <h3 class="font-weight-normal">{{ personalInfoObj.role }}</h3>

            <div class="row">
              <p class="col-sm-6">
                Cell: <span class="tel">{{ personalInfoObj.cell }}</span>
              </p>
              <p class="col-sm-6">
                DOB: <span class="tel">{{ personalInfoObj.dob }}</span>
              </p>
            </div>
            <div class="row">
              <p class="col-sm-6 font-weight-normal">
                Email:
                <a class="email" href="m.maulik96@gmail.com">{{
                  personalInfoObj.email
                }}</a>
              </p>
              <p class="col-sm-6 font-weight-normal">
                Address:
                <span class="tel">{{ personalInfoObj.address }}</span>
              </p>
            </div>
          </div>

          <div>
            <p class="font-weight-normal" style="padding-top: 10px;">
              {{ personalInfoObj.description }}
            </p>
          </div>
        </div>

        <div
          id="experience"
          (click)="openExperiencePopup()"
          data-toggle="modal"
          data-target="#experienceModalCenter"
        >
          <div>
            <span class="big-square"></span>
            <dt>EXPERIENCE</dt>
          </div>
          <div
            style="margin-top: 30px;"
            *ngFor="let experience of experienceObj"
          >
          <div class="col-sm-12">
            <div class="col-sm-2 font-weight-bold" style="display: inline-block;">
              <div *ngIf="!experience.toDate.year">{{ experience.toDate }}</div>
              <div *ngIf="experience.toDate.year">
                {{ experience.toDate.year }}-{{ experience.toDate.month }}-{{
                  experience.toDate.day
                }}
              </div>
              <div *ngIf="!experience.fromDate.year">
                {{ experience.fromDate }}
              </div>
              <div *ngIf="experience.fromDate.year" style="margin-top: 5px;">
                {{ experience.fromDate.year }}-{{
                  experience.fromDate.month
                }}-{{ experience.fromDate.day }}
              </div>
            </div>
            <div class="col-sm-10" style="display: inline-block;">
              <div class="title-two font-weight-bold">{{ experience.role }}</div>
              <div style="margin-top: 5px;">{{ experience.company }}</div>
            </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2" style="display: inline-block;">
            </div>
            <div class="col-sm-10" style="display: inline-block;">
              <div style="margin-left: -20px; margin-top: 5px;">
                <ul *ngFor="let keyPoint of experience.keyPoints">
                  <li>
                    {{ keyPoint }}
                  </li>
                </ul>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div
          id="education"
          (click)="openEducationPopup()"
          data-toggle="modal"
          data-target="#educationModalCenter"
        >
          <div>
            <span class="big-square"></span>
            <dt>EDUCATION</dt>
          </div>
          <div
            style="margin-top: 30px;"
            *ngFor="let education of educationObj"
          >
          <div class="col-sm-12">
            <div class="col-sm-2 font-weight-bold" style="display: inline-block;">
              <div *ngIf="!education.toDate.year">{{ education.toDate }}</div>
              <div *ngIf="education.toDate.year">
                {{ education.toDate.year }}-{{ education.toDate.month }}-{{
                  education.toDate.day
                }}
              </div>
              <div *ngIf="!education.fromDate.year">
                {{ education.fromDate }}
              </div>
              <div *ngIf="education.fromDate.year" style="margin-top: 5px;">
                {{ education.fromDate.year }}-{{ education.fromDate.month }}-{{
                  education.fromDate.day
                }}
              </div>
          </div>
          <div class="col-sm-10" style="display: inline-block;">
            <div class="title-two font-weight-bold"> {{ education.institute }}</div>
            <div style="margin-top: 5px;">{{ education.degree }}</div>
          </div>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-2" style="display: inline-block;">
              <div></div>
            </div>
            <div class="col-sm-10" style="display: inline-block;">
                <div style="margin-left: -20px; margin-top: 5px;">
                  <ul *ngFor="let keyPoint of education.keyPoints">
                    <li>{{ keyPoint }}</li>
                  </ul>
                </div>
              </div>
          </div>
          </div>
        </div>
        <div
          (click)="openSkillsPopup()"
          id="skills"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          <div>
            <span class="big-square"></span>
            <dt>SKILLS</dt>
          </div>
          <div style="margin-top: 30px;" *ngFor="let key of skills">
            <div style="margin-left: 9px;">
              <span class="small-square"></span
              ><span class="font-weight-bold" style="margin-left: 22px;">{{
                key
              }}</span>
              &nbsp;&nbsp;&nbsp;&nbsp; {{ skillsObj[key] }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
<app-personal-info
  *ngIf="personalInfoPopup"
  [personalInfo]="personalInfoObj"
  (personalInfoObj)="updatePersonalInfo($event)"
></app-personal-info>
<app-edit-experience-dialog
  *ngIf="experiencePopup"
  [experiences]="experienceObj"
  (experienceObj)="updateExperience($event)"
></app-edit-experience-dialog>
<app-edit-education-dialog
  *ngIf="educationPopup"
  [educations]="educationObj"
  (educationObj)="updateEducations($event)"
></app-edit-education-dialog>
<app-skills
  *ngIf="skillsPopup"
  [skillsInfo]="skillsObj"
  (skillsObj)="updateSkills($event)"
></app-skills>
